In [1]:
Article.objects.all()

In [2]:
Article.objects.all().count()

3

In [3]:
Post

shop.models.Post

In [4]:
Post.objects.all()

In [1]:
Bookmark.objects.all()

In [3]:
Bookmark.objects.filter(title='네이버')

In [4]:
Bookmark.objects.exclude(title='네이버')

In [6]:
from django.db import connection

In [7]:
connection.queries[-1]

{'sql': 'SELECT "bookmark_bookmark"."id", "bookmark_bookmark"."title", "bookmark_bookmark"."url" FROM "bookmark_bookmark" WHERE NOT ("bookmark_bookmark"."title" = \'네이버\' AND "bookmark_bookmark"."title" IS NOT NULL) ORDER BY "bookmark_bookmark"."title" DESC  LIMIT 21',
 'time': '0.001'}

In [10]:
Bookmark.objects.filter(title='네이버', url='https://www.naver.com')

In [11]:
Bookmark.objects.filter(title='네이버', url='naver.com')

In [12]:
from django.db.models import Q

Bookmark.objects.filter(Q(title='네이버')& Q(url='naver.com'))

In [13]:
Bookmark.objects.filter(Q(title='네이버')| Q(url='naver.com'))

In [14]:
connection.queries[-1]

{'sql': 'SELECT "bookmark_bookmark"."id", "bookmark_bookmark"."title", "bookmark_bookmark"."url" FROM "bookmark_bookmark" WHERE ("bookmark_bookmark"."title" = \'네이버\' OR "bookmark_bookmark"."url" = \'naver.com\') ORDER BY "bookmark_bookmark"."title" DESC  LIMIT 21',
 'time': '0.001'}

In [15]:
Bookmark.objects.filter(Q(title='네이버')& Q(url__startswith='http'))

In [17]:
Bookmark.objects.filter(Q(title='네이버')& Q(url__endswith='com'))

In [18]:
Bookmark.objects.all()

In [19]:
connection.queries[-1]

{'sql': 'SELECT "bookmark_bookmark"."id", "bookmark_bookmark"."title", "bookmark_bookmark"."url" FROM "bookmark_bookmark" ORDER BY "bookmark_bookmark"."title" DESC  LIMIT 21',
 'time': '0.000'}

In [20]:
Bookmark.objects.all()[0:3:2]

In [21]:
connection.queries[-1]

{'sql': 'SELECT "bookmark_bookmark"."id", "bookmark_bookmark"."title", "bookmark_bookmark"."url" FROM "bookmark_bookmark" ORDER BY "bookmark_bookmark"."title" DESC  LIMIT 3',
 'time': '0.000'}

In [22]:
Bookmark.objects.all()[0:3:2]

In [23]:
connection.queries[-1]

{'sql': 'SELECT "bookmark_bookmark"."id", "bookmark_bookmark"."title", "bookmark_bookmark"."url" FROM "bookmark_bookmark" ORDER BY "bookmark_bookmark"."title" DESC  LIMIT 3',
 'time': '0.000'}

In [25]:
import random

for i in range(1,1001):
    s = random.choice(['d','p','w'])
    Article.objects.create(title='제목{}'.format(i), body = '테스트 내용', status = s)

In [26]:
Article.objects.all().count()

1003

In [27]:
Article.objects.filter(title__contains = '1')

<QuerySet [<Article: 제목1>, <Article: 제목10>, <Article: 제목11>, <Article: 제목12>, <Article: 제목13>, <Article: 제목14>, <Article: 제목15>, <Article: 제목16>, <Article: 제목17>, <Article: 제목18>, <Article: 제목19>, <Article: 제목21>, <Article: 제목31>, <Article: 제목41>, <Article: 제목51>, <Article: 제목61>, <Article: 제목71>, <Article: 제목81>, <Article: 제목91>, <Article: 제목100>, '...(remaining elements truncated)...']>

In [28]:
Article.objects.filter(title__contains = '1').count()

272

In [30]:
Article.objects.filter(title__contains = '1', title__endswith ='3')

<QuerySet [<Article: 제목13>, <Article: 제목103>, <Article: 제목113>, <Article: 제목123>, <Article: 제목133>, <Article: 제목143>, <Article: 제목153>, <Article: 제목163>, <Article: 제목173>, <Article: 제목183>, <Article: 제목193>, <Article: 제목213>, <Article: 제목313>, <Article: 제목413>, <Article: 제목513>, <Article: 제목613>, <Article: 제목713>, <Article: 제목813>, <Article: 제목913>]>